/* :root {
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-color: #212121;
  --first-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-text-color: #ffffff;
  --hover-color: #188ce8;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
} */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
} */

/* logo */

/* .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo__text {
  color: var(--main-color);
} */


/* button */

/* .button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  font-family: inherit;
  cursor: pointer;
  border: none;
  text-align: center;

  color: var(--button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
} */

.button:hover,
.button:focus {
  background-color: var(--hover-color);
  transition: background-color var(--transition);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid red; */
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .card-set {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
} */

/*Main nav*/

.main__nav {
  display: flex;
  align-items: center;
}

/* Site nav */

/* .header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  align-items: center;
  border-bottom: 1px solid #ececec;
} */


.current {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contact-nav {
  display: flex;
  margin-left: auto;

  color: var(--secondary-text-color);
}

.contact-nav__item + .contact-nav__item {
  margin-left: 50px;
}

.site-nav__link:hover,
.site-nav__link:focus,
.basement__link:hover,
.basement__link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
  transition: var(--transition);
}

.site-nav__link {
  position: relative;
  transition: color var(--transition);
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -2px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contact-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav__link > .contact-nav__icon:hover {
  fill: var(--accent-color);
}

/* Hero */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/heder_img.jpg);
  background-size: 1600px auto;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

/* feature */

.feature__list {
  display: flex;
}

.feature__list .item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature__list .item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.feature__list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.feature__list .text {
  color: var(--secondary-text-color);
}
/* about */

.about {
  padding-top: 0;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.about__list {
  display: flex;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.about__img {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.about__img:nth-child(3n) {
  margin-right: 0;
}

.about__thumb {
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.about__thumb-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;

  text-transform: uppercase;

  color: var(--button-text-color);
}
/* Our-team */

.team {
  background-color: var(--secondary-background-color);
  text-align: center;
}

.team__list {
  display: flex;
}

.team__box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding: 30px;
}

.team__list .img {
  border-bottom: var(--accent-color);
}

.team__item {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__item,
.team__text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.team__text {
  color: var(--secondary-text-color);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--icon-color);
  transition: background-color var(--transition);
}

.social-icon {
  transition: fill var(--transition);
}

.social__link:hover,
.social__link:focus {
  fill: var(--secondary-background-color);
  background-color: var(--accent-color);
}

/* Clients */

.clients__link {
  height: 92px;
  display: flex;

  border-radius: 4px;
  border: 1px solid var(--icon-color);
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: fill var(--transition), border var(--transition);
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* Basement */

.basement {
  padding-top: 60px;
  padding-bottom: 60px;

  color: var(--basement-text-color);
  background-color: var(--first-background-color);
}

.basement__title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--button-text-color);
  text-transform: uppercase;
}

.address {
  font-style: inherit;
  color: var(--button-text-color);
}

.basement__link {
  color: var(--contacts-text-color);
}

.basement__link[target="_blank"] {
  color: var(--button-text-color);
}

.basement__address {
  color: var(--button-text-color);
}

.basement .logo {
  display: inline-block;

  margin-bottom: 20px;
}

.basement__logo-text {
  display: inline-block;
  color: var(--button-text-color);
  text-decoration: none;
}

.basement__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__nav {
  display: flex;
  align-items: baseline;
}

.social {
  margin-left: 70px;
}

.social__item > .social__link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--button-text-color);
}

.basement .social__link {
  fill: var(--button-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.basement__mail {
  margin-left: auto;
}

.basement__follow {
  display: flex;
  align-items: center;
}

.icon-send {
  margin-left: 10px;

  fill: var(--button-text-color);
}

.basement__input {
  min-width: 358px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.basement__input-text {
  padding: 15px;
  width: 100%;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: none;

  background-color: transparent;
}

/* Portfolio */

/* .portfolio__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
  column-gap: 8px;
} */

.portfolio-filter:hover,
.portfolio-filter:focus {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .portfolio-filter {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  min-width: auto;
  border-radius: 4px;
  color: var(--main-color);

  background-color: var(--secondary-background-color);
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
} */

.portfolio-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  content: "";
  transform: translateY(100%);
  transition: transform var(--transition), opacity var(--transition);

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--button-text-color);
  padding: 63px 24px;
  opacity: 0;

  background: rgba(33, 150, 243, 0.9);
}

/* backdrop */

.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--modal-background-color);
  opacity: 1;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  opacity: 1;

  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--button-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
  transition: fill var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
}

.form-wrapper {
  margin-bottom: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-div:not(:last-child) {
  margin-bottom: 10px;
}

.input-div {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill var(--transition);
}

.modal-div-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-color);
}

.modal-form label,
.check-form label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

.form-input:hover + .modal-icon,
.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.form-input:hover,
.form-input:focus,
.form-div textarea:hover,
.form-div textarea:focus {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  outline: none;

  transition: border var(--transition);
}

.modal-form input::placeholder {
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form input[type="checkbox"] {
  width: 16px;
  height: 15px;
}

.modal-form textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment-text::placeholder {
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-icon:hover,
.modal-icon:focus {
  fill: var(--accent-color);
  transition: fill var(--transition);
}

.check-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.check-form .label {
  margin-bottom: 0;
}

.label {
  display: inline-block;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  height: 15px;
  width: 16px;

  margin-right: 8px;

  cursor: pointer;

  border: 2px solid var(--main-color);
  border-radius: 4px;
}

.checkbox:checked + .check-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:hover + .check-icon,
.checkbox:focus + .check-icon {
  border-color: var(--accent-color);
}

.ckeck-link {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  transition: border-color var(--transition);
}

.check-text {
  margin-right: 5px;
  font-size: 14px;
  line-height: 1.7px;

  letter-spacing: 0.03em;

  cursor: pointer;

  color: var(--secondary-text-color);
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */ ;
