.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
  transition: var(--transition);
}

.site-nav__link {
  position: relative;
  transition: color var(--transition);
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -2px;
  background: var(--accent-color);
  border-radius: 2px;
}
