// Colors

$accentcolor: #2196f3;
$maincolor: #212121;
$secondary-text-color: #757575;
$first-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$button-text-color: #ffffff;
$hover-color: #188ce8;
$contacts-text-color: rgba(255, 255, 255, 0.6);
$icon-color: #afb1b8;
